<table class="table">
  <thead>
    <th>編號</th>
    <th>建立時間</th>
    <th>會員</th>
    <th>狀態</th>
    <th>付款方式</th>
    <th>金額</th>  
    <th></th>
  </thead>
  <tbody>
    <% orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= render_created_time(order) %></td>
        <td><%= render_order_user_name(order) %></td><!-- TODO: User path -->
        <td><%= render_order_status(order) %></td>
        <td><%= render_order_payment(order) %></td>
        <td><%= render_order_total(order) %></td>
        <td><%= render_next_status_path(order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>