<h1><%= render_product_name(@product) %><span class="badge">Category: <%= @category.name %></span></h1>
<div>
  <%= render_edit_admin_product_path(@product)%>
  <%= render_destroy_admin_product_path(@product) %>
</div>
<p><%= render_product_desc(@product) %></p>
<div><%= render_product_image(@product.image) %></div>

<h2>Specs:</h2>
<% @specs.each do |spec| %>
<table class="table">
  <thead>
    <tr>
      <td>規格名稱</td>
      <td><%= render_spec_name(spec) %></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>細節</td>
      <td><%= render_spec_detail(spec) %></td>
    </tr>
    <tr>
      <td>存貨</td>
      <td><%= render_spec_inventory(spec) %></td>
    </tr>
    <tr>
      <td><%= link_to("刪除規格", admin_product_spec_path(@product, spec), :method => :delete, :confirm => "Are you sure?") %></td>
      <td></td>
    </tr>
  </tbody>
</table>
<% end %>