<h1><%= render_product_name(@product) %><%= render_sellable_status(@product) %></h1>
<p>Category: <%= @category.name %></p>
<div>
  <%= render_edit_admin_product_path(@product)%>
  <%= render_destroy_admin_product_path(@product) %>
</div>
<p><%= render_product_desc(@product) %></p>
<div><%= render_product_image(@product.image) %></div>

<h2>Specs:</h2>
<% @specs.each do |spec| %>
<table class="table">
  <thead>
    <tr>
      <td>規格名稱</td>
      <td><%= render_spec_name(spec) %></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>細節</td>
      <td><%= render_spec_detail(spec) %></td>
    </tr>
    <tr>
      <td>存貨</td>
      <td><%= render_spec_inventory(spec) %></td>
    </tr>
  </tbody>
</table>
<% end %>