<h1><%= render_product_name(@product) %><span class="badge">Category: <%= @category.name %></span></h1>
<div>
  <%= render_edit_admin_product_path(@product)%>
  <%= render_destroy_admin_product_path(@product) %>
</div>
<p><%= render_product_desc(@product) %></p>
<div><%= render_product_image(@product) %></div>

<h2>Specs:</h2>
<%= link_to("新增規格", new_admin_product_spec_path(@product), :class => "btn btn-primary") %>

<% @specs.each do |spec| %>
<table class="table">
  <thead>
    <tr>
      <td>規格名稱</td>
      <td><%= spec.name %></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>細節</td>
      <td><%= spec.detail %></td>
    </tr>
    <tr>
      <td>存貨</td>
      <td><%= spec.inventory%></td>
    </tr>
    <tr>
      <td><%= link_to("編輯規格", edit_admin_product_spec_path(@product, spec)) %></td>
      <td></td>
    </tr>
  </tbody>
</table>
<% end %>