<h1>全站商品</h1>

<div class="row">
  <% @products.each do |product| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= render_product_image(product) %>
      <div class="caption">
        <h3><%= render_product_name(product) %></h3>
        <p>商品介紹：<%= render_product_desc(product) %></p>
      </div>
      <hr>
      <div class="caption">
        <table>
          <td>售價：<%= render_product_price(product) %></td>
          <td><%= link_to("查看商品", product_path(product), :class => "btn btn-primary" ) %></td>
        </table>
      </div>
    </div>
  </div>   
  <% end %>
</div>