<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to("ArtStore", root_path, :class => "navbar-brand") %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to(carts_path) do %><span class="glyphicon glyphicon-shopping-cart"></span> 購物車<span class="badge pull-right"><%= @current_cart.cart_items_count %></span><% end %>
      </li>
      <li><%= link_to("所有商品", products_path) %></li>
      <li><%= link_to("新增商品", new_admin_product_path) %></li>
      <li class="dropdown">

        <% if current_user %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to("Orders管理", account_orders_path ) %></li>
            <% if current_user.admin? %>
              <li class="divider"></li>
              <li><%= link_to("Admin Page", admin_root_path ) %></li>
            <% end %>
            <li class="divider"></li>
            <li><%= link_to("登出", destroy_user_session_path, :method => :delete ) %></li>
          </ul>
        
        <% else %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to("註冊", new_user_registration_path ) %></li>
            <li class="divider"></li>
            <li><%= link_to("登入", new_user_session_path ) %></li>
            <li></li>
          </ul>
        <% end %>

      </li>
    </ul>
  </div>
</div>